@model IEnumerable<WebApplication4.Models.AspNetRoles>

@{
    ViewBag.Title = "Index";
}

<h2>Role Management</h2>



<div class="form-horizontal">
    <hr />
    <h4>User Role</h4>
    <form action="/AspNetRoles/Index" method="post">
        @* Submit to / aspnetroles / index page *@
        <div class="form-group">
            <label class="control-label col-md-2">First Name </label>
            @* set first name  *@
            <div class="col-md-3">
                <input type="text" name="Firstname" value="@ViewBag.firstname" class="form-control" />
                @* Set an input box *@
            </div>
            <input type="submit" name="name" value="Search" class="btn btn-primary" />
            @* Define the submit button. The submit button sends the form data to the server.*@ 
        </div>
    </form>
    <div class="form-group">
        <label class="control-label col-md-2">User </label>
        @* set User  *@
    <div class="col-md-5">
        @Html.DropDownList("User", null, htmlAttributes: new { @class = "form-control" })
        @* Create drop-down list *@
    </div>

    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Role</label>
        @* set Role  *@
    <div class="col-md-10">
        @Html.DropDownList("Role", null, htmlAttributes: new { @class = "form-control" })
        @* Create drop-down list *@
    </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div onclick="commit()" class="btn btn-primary">Add </div>
            @* Creat add button *@
        </div>
    </div>

    <div id="temp" style="text-align:right">
        @* Set right justify div *@
    </div>
</div>


<script src="/Scripts/jquery-3.4.1.js"></script>
<script>

    $(function () {
        getuser();

        $("#User").change(
            //Trigger the change event of the user element:
            function () {

                getuser();
            })

    });

    //Method to set the commit type button
    function commit() {
        //Send request function on /AspNetRoles/AddUserRole
        $.post("/AspNetRoles/AddUserRole", {
            User: $("#User").val(), 
            Role: $("#Role").val()
            //The data sent to the background in the form of value, And return the corresponding value of value
        },
            function (data, status) {
                //Return function
                getuser()
            });
    }
    function getuser() {
         //Send request function on /AspNetRoles/GetUserRole
        $.post("/AspNetRoles/GetUserRole", {
            User: $("#User").val()
            //The data sent to the background in the form of value, And return the corresponding value of value
        },
            function (data, status) {
                //Set the appearance and format of the remove button
                var huh = $("#temp");
                huh.empty();
                for (var i in data) {
                    huh.append("<div class='row'><div class='col-md-2'>" + data[i] + "</div><div  class='col-md-2'> <div  class = 'btn btn-default' onclick=removeUR('" + i + "') >remove</div></div></div>");
                }
            });
    }

    function removeUR(Role) {
        //Send request function on /AspNetRoles/RemoveUserRole
        $.post("/AspNetRoles/RemoveUserRole", {
            User: $("#User").val(),//The data sent to the background in the form of value, And return the corresponding value of value
            Role: Role
        },
            function (data, status) {
                //Return function
                getuser()
            });
    }

</script>