@{ 
    var students = (List<WebApplication4.Models.Students>)ViewBag.stdt;
}
<table class="table table-hover stud">
    <thead style="display:block">
        <tr style="display: table; width: 100%; table-layout: fixed;">
            <th>Name</th>
            <th>GPA</th>
        </tr>
    </thead>
    <tbody style="position:absolute; display:block;top:38px;bottom:0px;left:0px;right:0px; overflow-y:scroll;"
           id="studenttable"
           ondrop="dropstu(event)"
           ondragover="allowDrop(event)">
        @foreach (var item in students)
        {
            <tr id="stddrag @item.studentID"
                style="display: table; width: 100%; table-layout: fixed;">
                <td>
                    @item.uniUserName
                </td>
                <td>
                    @item.gpa

                </td>
            </tr>
        }
    </tbody>
</table>