<select id="sortSelecter" class=" form-control" name="SortSelection">
    <option id="SortName" label="Name" value="name">Name</option>
    <option id="SortGPA" label="GPA" value="GPA">GPA</option>
</select>