
@{
    
    var course = (List<WebApplication4.Models.Course>)ViewBag.course;
}

@foreach (var CItem in course)
{
    <tr id=@CItem.courseID
        style="display: table; width: 100%; table-layout: fixed;"
        draggable="true"
        ondragstart="dropElement(event)"
        ondragover="dragOver(event)">

        <td>@CItem.courseName</td>

    </tr>
}