@{
    ViewBag.Title = "Contact";
}
<h2>By Unisa Group29</h2>

<address>
    
    Junting Chen<br />
    Yifei Ran<br />
    Yuexuan Bao<br />
    Haoxiang Cheng<br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Group29@unisa.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Group29@unisa.com</a>
</address>