@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<style type="text/css">
    .topDiv {
        padding: 100px 100px 10px;
    }
   
    .tableHead {
        display: block
    }

    .tableBody {
        display: block;
        top: 38px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow-y: scroll;
        max-height: 60vh;

    }

    .tableTr {
        display: table;
        width: 100%;
        table-layout: fixed;
        
    }
    .title{
        font-size:20px;
    }
    #InputSearch:focus{
        outline:none;
        box-shadow:none;
    }
    #sch-result {
        width: 300px;
        overflow-y:auto;
        position: absolute;
        background: #fff;
        border: 1px solid #ddd;
    }
        #sch-result ul{
            margin-bottom:0;
    
        }
        #sch-result li {
            list-style-type: none;
            margin-left: 0;
            padding-left: 0;
            line-height: 2;
        }

</style>
<div  class="topDiv">
    @*search input*@
        <div class="row">
            
            <div class="row">
 
                    <span class="col-md-2 text-end title">Search to start:&nbsp;</span>
                    <div class="col-md-8">
                        <div class="input-group ">
                            <input id="InputSearch" type="text" class="form-control" onkeyup="autofc()">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" onclick="search()">
                                    Search
                                </button>
                            </span>
                        </div>
                        <div id="sch-result">
                          @*the autocomplete box*@
                            <ul id="autoList">
                            </ul>
                        </div>
                    </div>
                    

                
            </div>
        </div>
    
</div>
<div id="disPlayTable">
@*display table, to show searched thing*@
    <table class="table table-hover" >
        <thead class="tableHead">
            <tr class="tableTr">
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
            </tr>
        </thead>
        <tbody id="searchResult" class="tableBody">
            
        </tbody>
    </table>

</div>






<script>
    
    function hideSomeThing(text) {
        document.getElementById(text).style.display = "none";
    }
    function showSomeThing(text) {
        document.getElementById(text).style.display = "initial";
    }
    document.onclick = function hidethebox() {
        hideSomeThing("autoList");
    } 

    function search() {
        document.getElementById("searchResult").innerHTML = "";
        var searchinput = document.getElementById("InputSearch").value;
        if (searchinput != "") { 
        $.ajax({

            type: "POST",

            url: "/Home/Searchdata",
            
            data: {

                inputvalue: searchinput
            },
            success: function (data) {
                //get a Json file from controller, include the keyword
                console.log(data);
                for (ObjType in data) {
                    for (ObjID in data[ObjType]) {
                        console.log(ObjID);
                        var objTr = document.createElement("tr");
                        objTr.setAttribute("class", "tableTr");
                        objTr.setAttribute("onclick","turnToPage(this)")
                        objTr.setAttribute("id", ObjType + ObjID);
                        switch (ObjType) {
                            case "proj":
                                objTr.innerHTML = "<td>" + data[ObjType][ObjID] + "</td> <td>Project</td>";
                                break;
                            case "stud":
                                objTr.innerHTML = "<td>" + data[ObjType][ObjID] + "</td> <td>Student</td>";
                                break;
                            case "staf":
                                objTr.innerHTML = "<td>" + data[ObjType][ObjID] + "</td> <td>Staff</td>";
                                break;
                            case "page":
                                objTr.innerHTML = "<td>" + data[ObjType][ObjID] + "</td> <td>Function</td>";

                        }
                       
                        document.getElementById("searchResult").appendChild(objTr);
                        
                    }
                }
                console.log(data);
                

            },

        })
        }
    }

    function turnToPage(t) {
        var id = t.id.slice(4);
        var type = t.id.slice(0, 4);
        switch (type) {
            case "proj":
                window.location.href = "/Projects/Details/" + id;
                break;
            case "stud":
                window.location.href = "/Students/Details/" + id;
                break;
            case "staf":
                window.location.href = "/Manage/Details/" + id;
                break;
            case "page":
                switch (id) {
                    case "PJAL":
                        window.location.href = "/Allocations/Index";
                        break;
                    case "STFM":
                        window.location.href = "/Manage/StaffManagement";
                        break;
                    case "STDM":
                        window.location.href = "/Students/Index";
                        break;
                    case "PJTM":
                        window.location.href = "/Projects/Index"
                        break;
                    case "CSPL":
                        window.location.href = "/NewPlanCourse/Index";
                        break;
                    case "CSPD":
                        window.location.href = "/NewPlanCourse/CourseAndPlan";
                        break;
                    case "SCSD":
                        window.location.href = "/DetailedInformation/index";
                        break;
                }
                break;

        }
    }

    function autofc() {

        document.getElementById("autoList").innerHTML = "";
        document.getElementById("autoList").style.display = "block";
        document.getElementById("sch-result").style.maxHeight = "300px";
        var searchinput = document.getElementById("InputSearch").value;
        if (searchinput != "") {
            $.ajax({

                type: "POST",

                url: "/Home/Searchdata",

                data: {

                    inputvalue: searchinput
                },
                success: function (data) {

                    for (ObjType in data) {
                        for (ObjID in data[ObjType]) {
                            console.log(ObjID);
                            var objLi = document.createElement("li");
                            
                            objLi.setAttribute("onclick", "completeInput(this)");
                            objLi.innerHTML = data[ObjType][ObjID];
                            
                            document.getElementById("autoList").appendChild(objLi);
                            

                        }
                    }
                    console.log(data);


                },

            })
        }
    }
    function completeInput(t) {
        var searchinput = document.getElementById("InputSearch");
        searchinput.value = t.innerHTML;
        search();
    }

</script>